*{
    margin: 0  0;
    padding: 0 0;
}
.noto-serif-bold {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
:root{
    --clr-primary:#E95A08;
    --clr-secondary: #808080;
    --font-size-primary:3.125rem; 
    --font-size-secondary:1.4rem;
}
body{
    /* overflow-x: hidden; */
    background-color: #f2f5f8;
}
/* nav styles */
header{
    max-width: 1140px;
    margin: 0 auto;
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* header styles */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.875rem auto 7.5rem auto;
}
nav ul li{
    list-style: none;
}
nav ul a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
nav ul{
    display: flex;
    gap: 3rem;
}
.home{
    font-weight: bold;
}
/* banner styles */
.banner-container{
    display: flex;
    justify-content: space-between;
}
.banner-title{
    font-size: 4.0625rem;
}
.banner-description{
    color: var(--clr-secondary);
    font-size: var(--font-size-secondary);
}
/* plants section styles */
.plant-section{
    margin: 6.8rem auto 14rem auto;
}
.plant-title{
    font-size: var(--font-size-primary);
    text-align: center;
}
.plant-description{
    color: var(--clr-secondary);
    font-size: var(--font-size-secondary);
    margin: 1rem auto 3rem auto;
    max-width: 55%;
    text-align: center;
}
.card-container{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 1.5rem;
}
.card-title{
    font-size: 1.3rem;
    font-weight: 500;
}
.card-price{
    font-size: 1.3rem;
    font-weight: 700;
}
.card-btn{
    width: 100%;
    display: block;
     background-color: var(--clr-primary);
    color: white;
    border: none;
    padding: 1rem ;
    cursor: pointer;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 2px 2px 10px rgb(224, 179, 221, 0.5);
}
/* plants lover section */
.plants-lover-section{
    display: flex;
    gap: 3rem;
    height: 37rem;
    align-items: center;
    position: relative;
}
.plants-lover-description{ 
     width: 31.02rem; 
}
.plants-lover-title{
   font-size: var(--font-size-primary);
   
}
.plants-lover-text ul li{
   margin: 1.25rem;
   color: var(--clr-secondary);
   font-size: var(--font-size-secondary);
}
.plants-lover-section img {
    width: 100%;
}
.trusted-badge img{
    position: absolute;
    left: 33%;
    top: -13%;
    width: 19%;   
}
/* latest deal styles */
.latest-deal-section{
    margin: 8.31rem auto 7.5rem auto;

}
.latest-deal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.7rem;
    margin-top: 7.5rem;


}
.boom-ana-container{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}
.boom-ana-container img{
    width: 100%;
    border-radius: .9rem;
}
.zabo-plant img{
    width: 100%;
    border-radius: 1.4rem;
}
.latest-deal-title{
    font-size: var(--font-size-primary);
    text-align: center;
    margin-bottom: 1rem;
}
.latest-deal-description{
    font-size: var(--font-size-secondary);
    color: var(--clr-secondary);
    text-align: center;
    padding: 0 6rem;
}
.bloom-plant, .ana-plant, .zabo-plant{
    position: relative;
    overflow: hidden;
}
.overflow{
    position: absolute;
    left: 0;
    top: 0;
    height: 98%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, .4);
    border-radius: 0.9rem;

}
.overflow-3{
     position: absolute;
    left: 0;
    top: 0;
    height: 99%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, .4);
    border-radius: 1.4rem;
}
.overflow-text{
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
}
.overflow-text-3{
     color: white;
    font-size: 2.5rem;
    }
.shop-btn{
    background-color: transparent;
    border: none;
    text-decoration: underline;
    font-size: 1rem;
    color: white;
    font-weight:550;
    margin-top: 1.3rem;
    cursor: pointer;
    }
.shop-btn-3{
    background-color: transparent;
    border: none;
    text-decoration: underline;
    font-size: 1.8rem;
    color: white;
    font-weight:550;
    margin-top: 1.3rem;
    cursor: pointer;
} 
.shop-btn a, .shop-btn-3 a {
    text-decoration: none;
    color: white;
}   
/* responsive layout */
@media screen and (max-width:576px) {
    :root{
        --font-size-primary:1.5rem;
        --font-size-secondary:0.9rem;
    }
    header ,main {
        max-width: 100%;
    }
    .hide{
        display: none;
       
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .plant-section{
        margin-top: 4rem;
        margin-bottom: 2.5rem;
    }
    .plants-lover-section{
        flex-direction: column;
    }
    .nav-container, .banner ,.card-container, .plants-lover-section{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .banner-title{
        font-size: 1.5rem;
        margin: 1.85rem 0 0.9rem 0;
        max-width: 70%;
        
    }
    nav ul{
        gap: 0px;
    }
    .card-container{
        grid-template-columns: repeat(2,1fr);

    }
    .card img, .plants-lover-description, .plants-lover-title{
        width: 100%;
    }
}
